.hud {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hud .player-health {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 16px;
  padding: 12px;
}